body{background-color:black;}
body{color:white;}
h1{font-size:15vw;
	margin-bottom: 0;
	margin-top: 0}
h2{font-size:9.8vw;
	margin-top: 0;
	line-height: 0.5em;
	width:1000px;}
h3{font-size:8.7vw;
	margin-top: 0;
	line-height: 0.3em;
	width:1000px}
h4{font-size:17.8vw;
	margin-bottom: 0;
	margin-top: 0}
h5{font-size:6vw;
	margin-top: 0;
	margin-bottom: 0;
	width:1000px}
h6{font-size:15vw;
	margin-bottom: 0;
	margin-top: 0}

body{font-family: "futura", san-serif;}
body{width:700px;
margin:19.5vw;}
p{font-size:1.2vw;
	line-height: 2.5vw}
