
.paper{
	width:55.7vw;
	height:80vw;
	background-color:#e9e9e1;
	padding:1px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 0.1vw;
	transition: all 0.5s;
}


.grid{
	width:55.7vw;
	height:30vw;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 0.1vw;
	transition: all 0.5s;
	margin-top: -52vw;

}

.column1{
	margin-top: 68vw;
	margin-right:0.2vw;
	font-size:1vw;
	font-family: sans-serif;
	line-height:1.6vw; 
}

.column2{
	margin-top: 68vw;
	font-size:1vw;
	margin-right:0.2vw;
	font-family: sans-serif;
	line-height:1.6vw; 
}

.column3{
	margin-top: 68vw;
	font-size:1vw;
	margin-left:0.1vw;
	font-family: sans-serif;
	line-height:1.6vw; 
}

h1{font-size:2.5vw;
	margin-top: 1.5vw;
	letter-spacing:0.5vw;
	background: -webkit-linear-gradient(#eee,#002aff, #ea00ff);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

h1:hover {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

p{background: -webkit-linear-gradient(#eee,#002aff, #ea00ff);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
p:hover {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}




#circle1{
	width:39vw;
	height:39vw;
	background-color:black;
	border-bottom-left-radius:100%;
	margin-left: 17vw;
	display:inline-block;
}

#circle1:hover {
	opacity:0;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

#circle2{
	width:31vw;
	height:31vw;
	background-color:black;
	border-radius:50%;
	margin-top:-17vw;
	display:inline-block;
}

#circle2:hover {
 	opacity:0;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

#circle3{
	width:13vw;
	height:13vw;
	background-color:black;
	border-radius:50%;
	margin-top:-4.5vw;
	margin-left:23vw;
	display:inline-block;
}

#circle3:hover {
	opacity:0;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

#circle4{
	width:4vw;
	height:4vw;
	background-color:black;
	border-radius:50%;
	margin-top:-16vw;
	margin-left:33vw;
}

#circle4:hover {
	opacity:0;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


#circle1{
	animation: change-bgcolor 3s
	infinite;
}

@keyframes change-bgcolor{
	0%{
		/* beginning of the animation*/
		background-color:black;}
	50%{
		background: -webkit-linear-gradient(#002aff, #ea00ff)
	}
	0%{
		/*end of the animation*/
		background-color:black;}
	}

#circle2{
	animation: change-bgcolor 5s
	infinite;
}

@keyframes change-bgcolor{
	0%{
		/* beginning of the animation*/
		background-color:black;}
	50%{
		background: -webkit-linear-gradient(#002aff, #ea00ff)
	}
	0%{
		/*end of the animation*/
		background-color:black;}
	}

#circle3{
	animation: change-bgcolor 2s
	infinite;
}

@keyframes change-bgcolor{
	0%{
		/* beginning of the animation*/
		background-color:black;}
	50%{
		background: -webkit-linear-gradient(#002aff, #ea00ff)
	}
	0%{
		/*end of the animation*/
		background-color:black;}
	}
#circle4{
	animation: change-bgcolor 3.5s
	infinite;
}

@keyframes change-bgcolor{
	0%{
		/* beginning of the animation*/
		background-color:black;}
	50%{
		background: -webkit-linear-gradient(#002aff, #ea00ff)
	}
	0%{
		/*end of the animation*/
		background-color:black;}
	}

.paper{
	animation: change-bgcolor2 15s
}

@keyframes change-bgcolor2 {
	0%{
		/* beginning of the animation*/
		background-color:#e9e9e1;}

	10%{
		background-color:#e9e9e1;
	}
	80%{
		background:black;
	}
	100%{
		/*end of the animation*/
		background-color:black;}
	}

	body{
    -webkit-transform: scale(0.67);
       -moz-transform: scale(0.67);
            transform: scale(0.67);
}







